<!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> -->
<header id="landing">
    <section>
        <a href="../../">
            <img src="../images/fundawonen-logo.svg" alt="logo funda">
        </a>
        <ul class="app-header-menu">
            <li><a href="">Inloggen</a></li>
            <li><a href="">Registreren</a></li>
        </ul>
    </section>
</header>

<main>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/results">Resultaten</a></li>
                <li><a href="/suggestions">Suggesties</a></li>
            <ul>
        </nav>
                <form class="gebruikersInput" action="/results" method="post" >
                <section name="huurOfKoop">
                    <legend>Filters</legend>
                    <input type="radio" name="huurOfKoopSelectie" id="koop"  value="?type=koop&zo=/"checked="checked">
                    <label for="koop">Koop</label>
                    <input type="radio" name="huurOfKoopSelectie" id="huur"  value="?type=huur&zo=/">
                    <label for="huur">Huur</label>
                    <input type="radio" name="huurOfKoopSelectie" id="nieuwbouw" value="?type=nieuwbouw&zo=/">
                    <label for="nieuwbouw">Nieuwbouw</label>
                </section>

                <section name="locatie">
                    <label for="locatie">Locatie</label>
                    <input type="text" name="locatie" id="locatie" placeholder="Plaats, buurt, adres etc.">
                    <ul id="autocomplete-results"></ul>

                    <label for="afstand">Afstand</label>
                    <select name="distance" id="afstand" selected="selected">0
                          <option value="0">+0km</option>
                          <option value="1">+1km</option>
                          <option value="2">+2km</option>
                          <option value="5">+5km</option>
                          <option value="10">+10km</option>
                          <option value="15">+15km</option>
                    </select>
                    <label for="prijsMin">Minimum prijs</label>
                    <input type="number" name="prijsMin" id="prijsMin" value="0">
                    <label for="prijsMax">Maximum prijs</label>
                    <input type="number" name="prijsMax" id="prijsMax"  value="1000000">
                    <button class="sendAnswers" type="submit">Zoek!</button>
                </section>
        </form>
    </header>
</main>

<section id="searchResults">
    <section class="details">
        {{#if detailData}}
            <header>
                    <h3 class="adres">{{detailData.Adres}}</h3>
                <p class="postWoon">{{detailData.Postcode}} {{detailData.Plaats}}</p>
                <p class="Koopprijs">{{{detailData.PrijsGeformatteerdHtml}}}</p>
            </header>
            <section>
                <a class="link" href="{{detailData.URL}}">
                    <img class="mainImage" src="{{detailData.HoofdFoto}}" alt="{{detailData.Adres}}">
                </a>
                <a class="link_button" href="{{detailData.URL}}">Zie meer
                </a>

                <h3>Omschrijving:</h3>
                <p class="omschrijving">{{detailData.VolledigeOmschrijving}}</p>

                <h3>Kenmerken:</h3>
                <h4>Overdracht</h4>
                <p>Vraagprijs: {{detailData.KoopPrijs}} k.k.</p>
                <p>Servicekosten: {{detailData.ServiceKosten}}</p>
                <p>Aangeboden sinds: {{detailData.AangebodenSindsTekst}}</p>
                <p>Status: {{detailData.VerkoopStatus}}</p>
                <p>Aanvaarding: {{detailData.Aanvaarding}}</p>

                <h4>Bouw</h4>
                <p>Soort woonhuis: {{detailData.SoortWoning}}</p>
                <p>Soort bouw: {{detailData.Bouwvorm}}</p>
                <p>Bouwjaar: {{detailData.Bouwjaar}}</p>
                <p>Soort dak: {{detailData.SoortDak}}</p>

                <h4>Indeling</h4>
                <p>Aantal kamers: {{detailData.WoonOppervlakte}}</p>
                <p>Aantal badkamers: {{detailData.AantalBadkamers}}</p>
                <p>Aantal woonlagen: {{detailData.AantalWoonlagen}}</p>
                <p>Voorzieningen: {{detailData.Voorzieningen}}</p>

            </section>
        {{/if}}
    </section>
</section>
