<!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> -->
<header id="landing">
    <section>
        <a href="">
            <img src="images/fundawonen-logo.svg" alt="logo funda">
        </a>
        <ul class="app-header-menu">
            <li><a href="">Inloggen</a></li>
            <li><a href="">Registreren</a></li>
        </ul>
    </section>
</header>

<main>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/results">Resultaten</a></li>
                <li><a href="/suggestions">Suggesties</a></li>
            <ul>
        </nav>
                <form class="gebruikersInput" action="/results" method="post" >
                <section name="huurOfKoop">
                    <legend>Filters</legend>
                    <input type="radio" name="huurOfKoopSelectie" id="koop"  value="?type=koop&zo=/"checked="checked">
                    <label for="koop">Koop</label>
                    <input type="radio" name="huurOfKoopSelectie" id="huur"  value="?type=huur&zo=/">
                    <label for="huur">Huur</label>
                    <input type="radio" name="huurOfKoopSelectie" id="nieuwbouw" value="?type=nieuwbouw&zo=/">
                    <label for="nieuwbouw">Nieuwbouw</label>
                </section>

                <section name="locatie">
                    <label for="locatie">Locatie</label>
                    <input type="text" name="locatie" id="locatie" placeholder="Plaats, buurt, adres etc.">
                    <label for="afstand">Afstand</label>
                    <select name="distance" id="afstand" selected="selected">0
                          <option value="0">+0km</option>
                          <option value="1">+1km</option>
                          <option value="2">+2km</option>
                          <option value="5">+5km</option>
                          <option value="10">+10km</option>
                          <option value="15">+15km</option>
                    </select>
                    <label for="prijsMin">Minimum prijs</label>
                    <input type="number" name="prijsMin" id="prijsMin" value="0">
                    <label for="prijsMax">Maximum prijs</label>
                    <input type="number" name="prijsMax" id="prijsMax"  value="1000000">
                    <button class="sendAnswers" type="submit">Zoek!</button>
                </section>
        </form>
    </header>
</main>

<section id="searchResults">
    <h1>Zoekresultaten</h1>
    <section class="homeData">
        {{#each data.Objects}}
            <section class="result">
                <a class="link" href="{{this.URL}}">
                    <img class="mainImage" src="{{this.FotoLarge}}" alt="{{this.Adres}}">
                </a>
                <a class="link" href="{{this.URL}}"><h3 class="adres">{{this.Adres}}</h3></a>
                <p class="postWoon">{{this.Postcode}} {{this.Woonplaats}}</p>
                <p class="Koopprijs">{{{this.PrijsGeformatteerdHtml}}}</p>
                <p class="oppervlakte">Oppervlakte {{this.Woonoppervlakte}} m&#178;</p>
            </section>
        {{/each}}
    </section>
</section>
